{% extends "todo/base.html" %}
{% block content %}
    <body>
    <h1 class="text-primary">Weclome to my Blog App!</h1>
    <p>Here is a django to do project that I used to learn django.<br> It is a simple app that you can add, edit, and delte posts.</p>
    <h3 class="text-success">GitHub Link</h3>
    <p>The github link should only take you to your github page as this reposioty is private.</p>   
    <h3 class="text-secondary">Announcements</h3>
    <p>The annoucnemtns are posted only by site admin and can only be viewd by logged in users.</p>
    <h3 class="text-info">Calendar</h3>
    <p>The calender is my google calender embeded into the site via iframe.<br>There you can see events that the admin will post.</p>
    <h3  class="text-danger">Feedback/Contact</h3>
    <p>Here you can send a message that only the admin will see regarding the website.<br> The messages are accessed via the admin page.</p>
{% endblock content %}