{% extends "todo/base.html" %}
{% block content %}
    {% for list in lists %}
    <div class="card border-light mb-5 mt-5 p-4">
      <div class="media">
        <img class="rounded-circle article-img" src="{{ list.author.profile.image_thumbnail.url }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2 text-danger" href="{% url 'user-lists' list.author.username %}" style="text-decoration: none;">{{ list.author }}</a>
                <small class="text-muted">{{ list.date_posted|date:"F d, Y" }}</small>
              </div>
              <h2 class="text-info"><a class="card-title" href="{% url 'list-detail' list.id %}" style="text-decoration: none;">{{ list.title }}</a></h2>
              <p class="article-content">{{ list.content }}</p>
            </div>
          </div> 
      
        </div>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}